[Unit]
Description=Cd default infra (docker registry, dmz reverse proxy)
After=network.target

[Timer]
OnCalendar=*-*-* *:*:00

[Service]
Type=simple
User=root
ExecStart=/root/default-infrastructure

[Install]
WantedBy=multi-user.target