[Unit]
Description=Cd utils para deployar
After=network.target

[Timer]
OnCalendar=*-*-* *:*:00

[Service]
Type=simple
User=root
ExecStart=/usr/bin/node /usr/local/lib/cd_utils/run_pending_deploys.js

[Install]
WantedBy=multi-user.target